<!--App Download Section-->
<section id="download" class="download m-top-100">
    <div class="download_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="main_download ">
                <div class="col-md-6">
                    <div class="download_item roomy-100">
                        <h2 class="text-white">How Download the app?</h2>
                        <h5 class="text-white m-top-20">Just download the app from the store.
                            Simple, nice and user-friendly application of theweather.
                            Only relevant and useful information.</h5>

                        <div class="download_app m-top-30">
                            <a href=""><img src="assets/images/appstor.png" alt="" /></a>
                            <a href=""><img src="assets/images/googleplay.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="download_item m-top-70">
                        <img class="app_right" src="assets/images/appdownload1.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
