<footer id="footer" class="footer bg-black">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-default bootsnav footer-menu no-background">
                    <div class="container">

                        <!-- Start Atribute Navigation -->
                        <div class="attr-nav">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <!-- End Atribute Navigation -->


                        <!-- Start Header Navigation -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-footer">
                                <i class="fa fa-bars"></i>
                            </button>
                            <a class="navbar-brand" href="#brand"><img src="assets/images/footer-logo.png" class="logo" alt=""></a>
                        </div>
                        <!-- End Header Navigation -->

                        <!-- navbar menu -->
                        <div class="collapse navbar-collapse" id="navbar-footer">
                            <ul class="nav navbar-nav navbar-center">
                                <li><a href="#home">Home</a></li>
                                <li><a href="#features">Features</a></li>
                                <li><a href="#reviews">Reviews</a></li>
                                <li><a href="#download">Download</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div>
                </nav>
            </div>
            <div class="divider"></div>
            <div class="col-md-12">
                <div class="main_footer text-center p-top-40 p-bottom-30">
                    <p class="wow fadeInRight" data-wow-duration="1s">
                        Made with
                        <i class="fa fa-heart"></i>
                        by
                        <a target="_blank" href="http://bootstrapthemes.co">Bootstrap Themes</a>
                        2016. All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
