
    <!--screen short section-->

    <section id="screen_area" class="screen_area">
      <div class="container">
        <div class="row">
          <div class="main_screen">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
              <div class="head_title text-center">
                <h2>Screenshots</h2>
                <h5>The brightest images</h5>
                </div>
              </div>

              <!-- Screen01-->
              <div class="screen01 roomy-50">
                <div class="col-md-6">
                  <div class="screen01_img text-center">
                    <div class="attr_cloudy text-white">Cloudy</div>
                    <div class="attr_deg2 text-white">15 &deg;</div>
                    <img src="assets/images/screen01.png" alt="" />
                    <h1 class="cloudy">Cloudy</h1>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="screen01_content m-top-100">
                    <div class="screen01_content_img ">
                      <img src="assets/images/cloud1.png" alt="" />
                    </div>
                    <h2 class="m-top-40">When the clouds</h2>
                                        <p class="m-top-20">Variable information on the air humidity, the feeling of the weather,
                                            and the ability to share this with your friends</p>

                                        <ul class="list-inline m-top-50">
                                            <li class="text-center">95%</li>
                                            <li class="text-center">9 &deg; </li>
                                            <li class="text-center">Rainy</li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--End off Screen01-->

                            <!-- Screen02-->
                            <div class="screen02 roomy-50 m-top-100">
                                <div class="col-md-6 col-md-push-6">
                                    <div class="screen02_img text-center">
                                        <div class="attr_sun2 text-white">Cloudy</div>
                                        <div class="attr_deg3 text-white">25 &deg;</div>
                                        <img src="assets/images/screen02.png" alt="" />
                                        <h1 class="sunny">Sunny</h1>
                                    </div>
                                </div>
                                <div class="col-md-6 col-md-pull-6">
                                    <div class="screen02_content m-top-100">
                                        <div class="screen02_content_img ">
                                            <img src="assets/images/sun1.png" alt="" />
                                        </div>
                                        <h2 class="m-top-40">When the clouds</h2>
                                        <p class="m-top-20">Sometimes the simplest things are the hardest to find.
                                            So we created a new line for everyday life. Sometimes the simplest things</p>

                                        <ul class="list-inline m-top-50">
                                            <li class="text-center">95%</li>
                                            <li class="text-center">9 &deg; </li>
                                            <li class="text-center">Rainy</li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--End off Screen02-->

                            <!-- Screen03-->
                            <div class="screen03 roomy-50 m-top-100">
                                <div class="col-md-6">
                                    <div class="screen03_img text-center">
                                        <div class="attr_rainy2 text-white">Rainy</div>
                                        <div class="attr_deg4 text-white">9 &deg;</div>
                                        <img src="assets/images/screen03.png" alt="" />
                                        <h1 class="rainy">Rainy</h1>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="screen03_content m-top-100">
                                        <div class="screen03_content_img ">
                                            <img src="assets/images/rainy1.png" alt="" />
                                        </div>
                                        <h2 class="m-top-40">When the rain</h2>
                                        <p class="m-top-20">Sometimes the simplest things are the hardest to find.
                                            So we created a new line for everyday life.
                                            Sometimes the simplest things</p>

                                        <ul class="list-inline m-top-50">
                                            <li class="text-center">95%</li>
                                            <li class="text-center">9 &deg; </li>
                                            <li class="text-center">Rainy</li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--End off Screen02-->


                        </div>
                    </div><!--End off row-->
                </div><!--End off container-->
            </section><!--End off Screen01 Area Section -->
